@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5ec9a; /* Changed background color */
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 500px;
    padding: 20px;
    padding-top: 10px; /* Reduced top padding */
    margin: 10px auto; /* Reduced top margin */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 2.4em; /* Increased font size */
    margin-bottom: 0.2em;
    font-weight: 700;
}

.author {
    text-align: center;
    margin-top: -0.2em;
    font-size: 0.9em; /* Reduced font size */
    color: #777;
}

p {
    margin-bottom: 1em;
    font-size: 1em;
    color: #555;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.highlight {
    color: red;
    font-weight: bold;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Prevent auto-zoom on mobile devices */
    margin-bottom: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #218838;
}

.result {
    margin-top: 20px;
    font-size: 1em;
    color: #555;
}

.error {
    color: red;
    font-size: 0.9em;
}

.divider {
    border: 0;
    height: 1px;
    margin: 20px 0;
    background: #ccc;
    display: none; /* Initially hidden */
}

footer {
    text-align: center;
    font-size: 1em;
    color: #777;
    margin-top: 20px;
}

/* Remove border and margins, adjust width and padding on mobile devices */
@media (max-width: 768px) {
    .container {
        width: 100%;
        max-width: 90%; /* More narrow on mobile devices */
        padding: 10px; /* Reduce padding on mobile devices */
        border: none;
        margin: 0 5%; /* Added small margins on the left and right */        
        border-radius: 0; /* Remove border-radius for a cleaner look on mobile */
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}
