@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 500px;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.2em;
    font-weight: 700;
}

.author {
    text-align: center;
    margin-top: -0.2em;
    font-size: 1em;
    color: #777;
}

p {
    margin-bottom: 1em;
    font-size: 1em;
    color: #555;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.highlight {
    color: red;
    font-weight: bold;
}

.input-group {
    margin-bottom: 15px
