@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5ec9a; /* Changed background color */
    color: #333;
    line-height: 1.6;
	background: url('background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;

}

.container {
    width: 95%;
    max-width: 500px;
    padding: 20px;
    margin: 15px auto 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: "Spicy Rice", serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: .8;
    color: #ff6347;
    text-align: center;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem; /* Slightly smaller than the default */
    margin-bottom: 0.75rem; /* Reduce space below the title */
    font-weight: 800; /* Heavy font weight for a modern look */
    color: #333; /* A slightly softer black/gray color */
    letter-spacing: 0.5px; /* Add slight letter spacing for a modern feel */
    margin: 0;
}

#header p {
    font-family: Arial, sans-serif; /* Keep the same font family */
    font-size: .8rem; /* Slightly smaller font for the byline */
    font-weight: 400; /* Normal weight for the byline */
    color: #000; /* Set the text color to black */
    margin: 0; /* Adjust spacing between title and byline */
    text-align: center;
	}
	
.recipe-step p {
    font-size: .75rem; /* Slightly smaller font for the byline */
    margin-top: 5px;
	}
	
.author {
	padding-bottom: 15px;
	}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.highlight {
    color: red;
    font-weight: bold;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Prevent auto-zoom on mobile devices */
    margin-bottom: 0;
}

#calculateButton {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-top: 25px;
}

#calculateButton:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#results {
    margin-top: 1.5em; /* Adjust the value as needed */
    margin-bottom: 1.5em;
}

.card-header {
    font-size: 1.7em;  /* Increase the font size */
    font-weight: bolder; /* Make the text bold */
}

#sugar1to1, #sugar2to1 {
	font-size: 1.5rem;
	color: #ff6347;
	margin-bottom: 1rem;
	}
	
.instructions {
    font-family: Arial, sans-serif; /* Keep the same font family */
    font-size: .9rem;
    font-weight: 600;
    color: #000; /* Set the text color to black */
    margin: 0; 
    text-align: center;
	}

/* Error message styling */
.error {
    color: red;
    font-size: 0.9em;  /* Adjust font size if necessary */
    margin: 0;
    display: block;  /* Ensure it displays as a block element */
}

hr {
    margin: 2rem 0;
}

footer {
    text-align: center;
    font-family: Arial, sans-serif; /* Keep the same font family */
    font-size: .8rem; /* Slightly smaller font for the byline */
    font-weight: 400; /* Normal weight for the byline */
    color: #000; /* Set the text color to black */
    }

/* Remove border and margins, adjust width and padding on mobile devices */
@media (max-width: 768px) {
    .container {
        width: 95%; /* Ensure the container takes up 90% of the width */
        max-width: none; /* Remove max-width for mobile */
        padding: 15px; /* Reduce padding on mobile devices
        border: none;
        margin: 10px auto; /* Center the container with auto margins */
        border-radius: 5px;
    }
    
.card {
	margin-bottom: 25px; /* Add desired space between cards */
    }

}
